<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cas.water.app.dao.VistaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cas.water.app.pojo.VistaInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="viata_url" property="viataUrl" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="thumb_url" property="thumbUrl" jdbcType="VARCHAR" />
    <result column="hold" property="hold" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, viata_url, lon, lat, datetime, thumb_url, hold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vista_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vista_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cas.water.app.pojo.VistaInfo" >
    insert into vista_info (id, viata_url, lon, 
      lat, datetime, thumb_url, 
      hold)
    values (#{id,jdbcType=INTEGER}, #{viataUrl,jdbcType=VARCHAR}, #{lon,jdbcType=DOUBLE}, 
      #{lat,jdbcType=DOUBLE}, #{datetime,jdbcType=TIMESTAMP}, #{thumbUrl,jdbcType=VARCHAR}, 
      #{hold,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cas.water.app.pojo.VistaInfo" >
    insert into vista_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viataUrl != null" >
        viata_url,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="thumbUrl != null" >
        thumb_url,
      </if>
      <if test="hold != null" >
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="viataUrl != null" >
        #{viataUrl,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbUrl != null" >
        #{thumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="hold != null" >
        #{hold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cas.water.app.pojo.VistaInfo" >
    update vista_info
    <set >
      <if test="viataUrl != null" >
        viata_url = #{viataUrl,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbUrl != null" >
        thumb_url = #{thumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="hold != null" >
        hold = #{hold,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cas.water.app.pojo.VistaInfo" >
    update vista_info
    set viata_url = #{viataUrl,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      thumb_url = #{thumbUrl,jdbcType=VARCHAR},
      hold = #{hold,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>